<!DOCTYPE html>
<html style="font-size: 16px;" lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Approach</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Approach.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <script type="text/javascript" src="//static.nicepage.com/shared/assets/jquery-1.9.1.min.js" defer="defer"></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Roboto+Slab:100,200,300,400,500,600,700,800,900">
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "hatespeechdetector"
}</script>
    <meta name="theme-color" content="#2e6ce7">
    <meta property="og:title" content="Approach">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-clearfix u-header u-palette-3-light-1 u-header" id="sec-78b1"><div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-font-source-sans-pro u-text u-title u-text-1" spellcheck="false">Toxic Comment Identifier</h1>
        <h5 class="u-custom-font u-font-roboto-slab u-text u-text-2" spellcheck="false">Improving the Internet For All</h5>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-position="">
          <div class="menu-collapse" style="font-size: 1.125rem; letter-spacing: 0px; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-nav-container">
            <ul class="u-custom-font u-nav u-spacing-30 u-text-font u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="Home.html" style="padding: 10px 0px;">Home</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="About-Us.html" style="padding: 10px 0px;">About Us</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="How-it-Works.html" style="padding: 10px 0px;">How it Works</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="Approach.html" style="padding: 10px 0px;">Approach</a>
</li></ul>
          </div>
          <div class="u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="About-Us.html">About Us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="How-it-Works.html">How it Works</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Approach.html">Approach</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header> 
    <section class="u-align-center-lg u-align-center-xl u-align-left-md u-align-left-sm u-align-left-xs u-clearfix u-palette-1-dark-2 u-section-1" id="carousel_5667">
      <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <div class="u-container-style u-group u-group-1">
                  <div class="u-container-layout u-container-layout-2">
                    <p class="u-text u-text-palette-3-base u-text-1">
                      <span style="font-size: 3.75rem;">Step</span>
                      <br>
                    </p>
                    <div class="u-shape u-shape-svg u-text-white u-shape-1">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-853f"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-853f"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-2">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9588"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-9588"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-3">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a04a"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-a04a"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-4">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6b01"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-6b01"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-5">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c6e0"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-c6e0"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-6">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-14d4"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-14d4"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-7">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ecb8"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-ecb8"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <img class="u-image u-image-default u-image-1" src="images/collectdata.jpeg" alt="" data-image-width="1280" data-image-height="600">
                    <p class="u-text u-text-palette-3-base u-text-2">01<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div class="u-container-style u-group u-group-2">
                  <div class="u-container-layout u-container-layout-4">
                    <p class="u-text u-text-palette-3-base u-text-3">
                      <span style="font-size: 3.75rem;">Step</span>
                      <br>
                    </p>
                    <div class="u-shape u-shape-svg u-text-white u-shape-8">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-853f"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-853f"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-9">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9588"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-9588"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-10">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a04a"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-a04a"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-11">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6b01"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-6b01"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-12">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c6e0"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-c6e0"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-13">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-14d4"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-14d4"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-14">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9869"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-9869"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <img class="u-image u-image-default u-image-2" src="images/datapreparation.png" alt="" data-image-width="800" data-image-height="452">
                    <p class="u-text u-text-palette-3-base u-text-4">03<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <div class="u-container-style u-group u-group-3">
                  <div class="u-container-layout u-container-layout-6">
                    <p class="u-text u-text-palette-3-base u-text-5">
                      <span style="font-size: 3.75rem;">Step</span>
                      <br>
                    </p>
                    <div class="u-shape u-shape-svg u-text-white u-shape-15">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-853f"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-853f"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-16">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9588"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-9588"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-17">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a04a"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-a04a"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-18">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6b01"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-6b01"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-19">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c6e0"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-c6e0"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-20">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-14d4"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-14d4"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-21">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-dc98"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-dc98"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <img class="u-image u-image-default u-image-3" src="images/Precision-vs-Recall2.jpeg" alt="" data-image-width="1050" data-image-height="520">
                    <p class="u-text u-text-palette-3-base u-text-6">05<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-7">
                <div class="u-container-style u-group u-group-4">
                  <div class="u-container-layout u-container-layout-8">
                    <p class="u-text u-text-palette-3-base u-text-7">
                      <span style="font-size: 3.75rem;">Step</span>
                      <br>
                    </p>
                    <div class="u-shape u-shape-svg u-text-white u-shape-22">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-853f"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-853f"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-23">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9588"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-9588"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-24">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a04a"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-a04a"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-25">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6b01"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-6b01"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-26">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c6e0"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-c6e0"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-27">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-14d4"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-14d4"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-28">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ffeb"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-ffeb"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <img class="u-image u-image-default u-image-4" src="images/video-conference-woman-desk-provides-collective-virtual-chat-online-business-meeting-working-team-webinar-using-computer-198814479.jpeg" alt="" data-image-width="800" data-image-height="475">
                    <p class="u-text u-text-palette-3-base u-text-8">07<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-list u-list-2">
          <div class="u-repeater u-repeater-2">
            <div class="u-align-right u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-9">
                <p class="u-text u-text-9" spellcheck="false"> Collect Data! There are several Kaggle datasets
to choose from. Ultimately, we went with a Kaggle Jigsaw Dataset.</p>
              </div>
            </div>
            <div class="u-align-right u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-10">
                <p class="u-text u-text-10" spellcheck="false"> Data preparation! Prep our data to use in our
model training by loading it into an appropriate location.</p>
              </div>
            </div>
            <div class="u-align-right u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-11">
                <p class="u-text u-text-11" spellcheck="false"> Evaluation! Using data that has never been used
for training, we will put our model to the test.</p>
              </div>
            </div>
            <div class="u-align-right u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-12">
                <p class="u-text u-text-12" spellcheck="false">Share to our audience!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-list u-list-3">
          <div class="u-repeater u-repeater-3">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-13">
                <p class="u-text u-text-13" spellcheck="false"> Research! Learn about BERT (Bidirectional
Encoder Representations from Transformers) and Transformer.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-14">
                <p class="u-text u-text-14" spellcheck="false"> Train our model using the Jigsaw Dataset –
utilize our data to enhance our model's ability to predict whether or not a
particular text is toxic.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-15">
                <p class="u-text u-text-15" spellcheck="false"> Create a webpage to showcase our efforts!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-shape u-shape-svg u-text-white u-shape-29">
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3712"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-3712"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
        </div>
        <div class="u-list u-list-4">
          <div class="u-repeater u-repeater-4">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-16">
                <div class="u-container-style u-group u-group-5">
                  <div class="u-container-layout u-container-layout-17">
                    <p class="u-text u-text-palette-3-base u-text-16">Step<br>
                    </p>
                    <div class="u-shape u-shape-svg u-text-white u-shape-30">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0606"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-0606"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-31">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5c2e"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-5c2e"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-32">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cafd"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-cafd"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-33">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-46a6"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-46a6"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-34">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4fa2"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-4fa2"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-35">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7432"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-7432"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <img class="u-image u-image-default u-image-5" src="images/8AB7DC1E-284F-447A-96AE-DE4E85D2ACF9_4_5005_c.jpeg" alt="" data-image-width="470" data-image-height="219">
                    <div class="u-shape u-shape-svg u-text-white u-shape-36">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b2bd"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-b2bd"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <p class="u-text u-text-palette-3-base u-text-17">02<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-18">
                <div class="u-container-style u-group u-group-6">
                  <div class="u-container-layout u-container-layout-19">
                    <p class="u-text u-text-palette-3-base u-text-18">Step<br>
                    </p>
                    <div class="u-shape u-shape-svg u-text-white u-shape-37">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0606"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-0606"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-38">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5c2e"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-5c2e"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-39">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cafd"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-cafd"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-40">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-46a6"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-46a6"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-41">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4fa2"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-4fa2"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-42">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7432"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-7432"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <img class="u-image u-image-default u-image-6" src="images/traindata.png" alt="" data-image-width="786" data-image-height="578">
                    <div class="u-shape u-shape-svg u-text-white u-shape-43">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b2bd"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-b2bd"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <p class="u-text u-text-palette-3-base u-text-19">04<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-20">
                <div class="u-container-style u-group u-group-7">
                  <div class="u-container-layout u-container-layout-21">
                    <p class="u-text u-text-palette-3-base u-text-20">Step<br>
                    </p>
                    <div class="u-shape u-shape-svg u-text-white u-shape-44">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0606"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-0606"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-45">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5c2e"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-5c2e"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-46">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 40 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cafd"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 40 160" x="0px" y="0px" id="svg-cafd"><path d="M20,100C9.1,100,0,90.9,0,80s9.1-20,20-20s20,9.1,20,20S30.9,100,20,100z M20,160c-10.9,0-20-9.1-20-20s9.1-20,20-20
	s20,9.1,20,20S30.9,160,20,160z M20,40C9.1,40,0,30.9,0,20S9.1,0,20,0s20,9.1,20,20S30.9,40,20,40z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-47">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-46a6"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-46a6"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-48">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4fa2"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-4fa2"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <div class="u-shape u-shape-svg u-text-white u-shape-49">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7432"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-7432"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <img class="u-image u-image-default u-image-7" src="images/Website-construction.jpg.webp" alt="" data-image-width="1000" data-image-height="560">
                    <div class="u-shape u-shape-svg u-text-white u-shape-50">
                      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 40" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b2bd"></use></svg>
                      <svg class="u-svg-content" viewBox="0 0 160 40" x="0px" y="0px" id="svg-b2bd"><path d="M60,20C60,9.1,69.1,0,80,0s20,9.1,20,20s-9.1,20-20,20S60,30.9,60,20z M0,20C0,9.1,9.1,0,20,0s20,9.1,20,20s-9.1,20-20,20
	S0,30.9,0,20z M120,20c0-10.9,9.1-20,20-20s20,9.1,20,20s-9.1,20-20,20S120,30.9,120,20z"></path></svg>
                    </div>
                    <p class="u-text u-text-palette-3-base u-text-21">06<br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-5-dark-3 u-section-2" id="sec-bf10">
      <div class="u-grey-5 u-shape u-shape-rectangle u-shape-1"></div>
      <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-col" style="">
            <div class="u-size-20 u-size-60-md">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-white u-layout-cell-1">
                  <div class="u-container-layout u-container-layout-1">
                    <h2 class="u-text u-text-1" spellcheck="false">Debugging Errors</h2>
                    <p class="u-text u-text-2" spellcheck="false"> Detecting and eliminating mistakes is a long procedure. Debugging is used to discover and repair faults or defects in software or systems to avoid improper functioning. This was a challenging procedure since humans are involved. Since human modification is required, this process was very tedious and tiresome.&nbsp;</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-palette-3-base u-right-cell u-size-30 u-layout-cell-2">
                  <div class="u-container-layout">
                    <h2 class="u-text u-text-3" spellcheck="false">CoCalcg2/Server Errors</h2>
                    <p class="u-text u-text-4" spellcheck="false">Our time using CoCalcg2 had a couple issues, some of these issues were:<br>- Constant restarting of kernels<br>- Wouldn't allow more than one person to view training model<br>- Server 505 errors<br>- inputs wouldn't be able to run properly
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-20 u-size-30-md">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1" data-image-width="700" data-image-height="564">
                  <div class="u-container-layout"></div>
                </div>
                <div class="u-container-style u-layout-cell u-palette-5-dark-3 u-size-20 u-layout-cell-4">
                  <div class="u-container-layout u-valign-middle u-container-layout-4">
                    <h2 class="u-text u-text-default u-text-5" spellcheck="false">
                      <span style="font-weight: 700;">Difficulties</span>
                      <span style="font-weight: 700;"></span>
                    </h2>
                  </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-2" data-image-width="1620" data-image-height="1080">
                  <div class="u-container-layout"></div>
                </div>
              </div>
            </div>
            <div class="u-size-20 u-size-30-md" style="">
              <div class="u-layout-row" style="">
                <div class="u-container-style u-layout-cell u-left-cell u-palette-3-base u-size-30 u-layout-cell-6">
                  <div class="u-container-layout">
                    <h2 class="u-text u-text-6" spellcheck="false">Brutal Comments and Lack of Datasets</h2>
                    <p class="u-text u-text-7" spellcheck="false">Our original idea centered more around weeding out identity hate and flagging microaggressions for users. Unfortunately, this sort of dataset was difficult to find. L​​uckily, there were a number of toxic comment datasets that could be used to identify, more generally, toxic comments online. Looking through this dataset was sometimes emotionally taxing because of the vulgarity of the comments.</p>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-white u-layout-cell-7">
                  <div class="u-container-layout u-valign-bottom u-container-layout-7">
                    <h2 class="u-text u-text-8" spellcheck="false">Webite Dev Dilema&nbsp;</h2>
                    <p class="u-text u-text-9" spellcheck="false">
                      <span style="font-weight: 400; font-size: 1.125rem;"><b>
                          <span style="font-weight: 400;">In our time in develop</span>
                          <span style="font-weight: 400;">ing</span>
                          <span style="font-weight: 400;">our website, one main </span>
                          <span style="font-weight: 400;">problem we had was the tex</span>
                          <span style="font-weight: 400;">t not being saved properly. Whenever we put a paragraph worth of text and<span style="font-weight: 700;"></span>
                          </span>
                          <span style="font-weight: 400;">se</span>
                          <span style="font-weight: 400;">e it saved, as soon as we exit the page, the text all seems to be deleted</span>. <span style="font-weight: 400;">This was a huge milestone we needed to cross sin</span>
                          <span style="font-weight: 400;">ce we can’t have loads of text being deleted. A reason for this might be that the platform might not be strong at holding too much tex</span>
                          <span style="font-weight: 400;">t all at once. Later one, when we find out the text is deleted it is very redundant to rewrite everything over again.&nbsp;</span></b>
                      </span>
                      <br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-palette-4-dark-3 u-section-3" data-image-width="2000" data-image-height="1333" id="sec-41ab">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-white u-text-1" spellcheck="false">Overcomi​ng these Difficulties</h2>
        <p class="u-text u-text-palette-3-base u-text-2">"In the middle of every difficulty lies oppurtunity" - Albert Einstein</p>
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-size-20 u-size-30-md" style="">
                <div class="u-layout-col" style="">
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                    <div class="u-container-layout u-valign-top u-container-layout-1">
                      <h3 class="u-text u-text-default u-text-3">Debugging Errors</h3>
                      <p class="u-text u-text-4" spellcheck="false"><b>
                          <br> CoCalc, thankfully, highlights the problem in your code and indicates what sort of error it is. It also describes what the code must do to correct the problem.</b>
                      </p>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                      <h3 class="u-text u-text-5" spellcheck="false">Brutal Comments and Lack of Datasets</h3>
                      <p class="u-text u-text-6" spellcheck="false"><b>The pivot to a more general toxic comment identifier meant we could properly use the dataset we found. While looking through this dataset was unpleasant at times, it only strengthened our desire to limit this sort of exposure for everyone else. Although our main source of datasets would be Kaggle, there were many other sites to choose similar datasets, like GitHub, Google Dataset Search, etc.&nbsp;</b>
                      </p>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-3">
                    <div class="u-container-layout u-valign-top u-container-layout-3"></div>
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-style u-image u-layout-cell u-size-60 u-image-1" src="" data-image-width="920" data-image-height="920">
                    <div class="u-container-layout u-valign-top u-container-layout-4" src=""></div>
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-5">
                    <div class="u-container-layout u-valign-top u-container-layout-5">
                      <h3 class="u-text u-text-default u-text-7">CoCalc G2/ Server Errors</h3>
                      <p class="u-text u-text-8" spellcheck="false"><b>We just had to be patient and redo and restart a task when the kernel stopped while we were developing or running our code. Training our model often required taking time outside of class to complete, but after enough tries, we managed to achieve a few successful runs. To solve our cell input/output problem<span style="font-weight: 400;"></span>, we wer<span style="font-weight: 400;"></span>e able to successfully get out cells working clearly using the validate button.</b>
                      </p>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-6">
                    <div class="u-container-layout u-valign-top u-container-layout-6">
                      <h3 class="u-text u-text-default u-text-9" spellcheck="false">Web Dev Dilema</h3>
                      <p class="u-text u-text-10" spellcheck="false"><b>To solve our web development problem, what we did is that we wrote our text on a google doc since the platform is stronger and significantly holds more text. Then, after everything is written out we would then transfer our text to the website. We tried this attempt and it was successful. It would save us momentarily and whenever we would exit the page, it would seem to save our information well.&nbsp;</b>
                      </p>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-7">
                    <div class="u-container-layout u-valign-top u-container-layout-7"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7017"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/templates" target="_blank">
        <span>Free Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/html-website-builder" target="_blank">
        <span>HTML Website Builder</span>
      </a>. 
    </section>
  </body>
</html>